<% provide(:title, "About Us") %>
<div class="center hero-unit">
	<h1>About Us</h1>
	<h2>
		<%= link_to "MusicSoc", "http://bathstudent.com/socs/societies/MusicSoc" %>
		is the University of Bath's Music Society, who aim to offer the opportunity to be involved
		in all aspects of live music and music production to all students.
	</h2>
</div>	