<% provide(:title, "Admin Panel") %>
<div class="hero-unit">
	<h1>Admin Panel</h1>
	<h2>
		Hi, welcome to the admin panel. If you shouldn't be here, naughty naughty!
	</h2>
	<p>
		<%= link_to "User list", users_path %>
		 - Use this to (un)confirm users or (un)make them administrators.
	</p>
	<p>
		<%= link_to "Database tasks", database_tasks_path %>
		 - *CAUTION* Only use this if you know what you're doing - 
		it'll permanently change the database.
	</p>
</div>
