<% provide(:title, "Contact") %>
<div class="center hero-unit">
	<h1>Contact</h1>
	<h2>
		Please visit our 
		<%= link_to "BathStudent page", "http://bathstudent.com/socs/societies/MusicSoc" %>
		for all enquiries regarding the society.
	</h2>
	<h2>
		For support with using the booking system or to report a fault, please contact
		the creator, Alex Kelly, who you can easily find on
		<%= link_to "Person Finder", "http://www.bath.ac.uk/contact/" %>.
	</h2>
</div>