<% provide(:title, "FAQ") %>
<div class="hero-unit">
	<h1>FAQ</h1>
	<div class="row">
		<div class="span9 offset1">
			<dl>
				<dt>What's the band room?</dt><br/>
				<dd>
					The band room is the practice space for members of the University of Bath's
					Music Society (MusicSoc).
				</dd><br/>
				<dd>
					The facilities include:
					<ul>
						<li>Two Marshall combo amplifiers</li>
						<li>A Fender Bassman bass amplifier ***CURRENTLY OUT OF SERVICE - PLEASE
							USE THE PA INSTEAD***</li>
						<li>A powerful PA with mixing desk</li>
						<li>Full drum kit with all breakables</li>
						<li>Microphones and stands</li>
						<li>Instrument stands</li>
					</ul>
					Basically everything you need for a great practice!
				</dd><br/>
				<dd>
					That's still not the best thing about it - it's free! Yes, once you have joined
					MusicSoc you can use the band room for free for the entire academic year - it's
					quite possibly the best value for money practice space in the entire country.
				</dd><br/>
				<dd>
					Each member is allowed to book one two-hour slot per week up to a week in advance.
				</dd><br/>
				<dd>
					The key (number 98) can be collected from the cabinet in front of the library 
					reception using your library card, provided you have been activated on the system.
					Please email MusicSoc to get access to this cabinet.
				</dd><br/>
				<dt>Where is the band room?</dt><br/>
				<div class="map">
					<%= render 'map' %>
				</div>
				<dt>Where do I get the key?</dt><br/>
				<dd>From the cabinet opposite the security desk in the library reception.
					It's key number 98.</dd><br/>
				<dt>How do I access the cabinet?</dt><br/>
				<dd>First, email your library card number (not your student number), full name and username to <strong>socs-musicsoc at lists.bath.ac.uk</strong>. Then you can use your library card to access the cabinet and withdraw the key.</dd>
			
			</dl>
			<dl>
				<dt>How do I get in?</dt><br/>
				<iframe width="700" height="400" 
					src="http://www.youtube.com/embed/KyEvK3E8ugA" frameborder="0" allowfullscreen>
				</iframe><br/><br/>
				<dt>What's MusicSoc?</dt><br/>
				<dd>
					MusicSoc is the music society at the University of Bath.
				</dd><br/>
				<dd>
					If you're a student at the university, please join us on 
					<%= link_to "BathStudent", 
						"http://www.bathstudent.com/socs/societies/musicsoc/" %>
					for unlimited access to the band room and all our other member benefits
					(such as support for putting on your own live music events, gig trips,
					an exclusive list of very cheap music tuition, the latest on all our events, etc)
					for the bargain price of £5!
				</dd><br/>
				<dd>
					Whether you're a student or not, the best way to get involved is to join our
				 	<%= link_to "Facebook group", "http://www.facebook.com/groups/130934812093/" %>.
				</dd><br/>
				<dd>
				 	If you're a non-student, sorry but you can't use our practice room! We recommend 
					<%= link_to "Stage 2 Studios", "http://www.stage2studios.co.uk/" %>
					as an alternative.
				</dd>
			</dl>
		</div>
	</div>
</div>