<div class="center hero-unit">	
	<h1>MusicSoc Band Room Booking System</h1>
	<h2>
		This is the online booking system for the University of Bath's
		<a href="http://bathstudent.com/socs/societies/MusicSoc">Music Society (MusicSoc)</a>
		band practice room.
	</h2>
	<h2>
		Please 
		<%= link_to "log in", new_user_session_path %> 
		if you already have a membership, if not then:
	</h2>
	<p>
		<ul>
			<li>
				<%= link_to "Join MusicSoc", 
					"http://www.bathstudent.com/socs/societies/musicsoc/" %>
				on BathStudent if you haven't already
			</li>
			<li>
				<%= link_to "Sign up", new_user_registration_path %> here using your BUCS email
			</li>
			<li>
				Email the MusicSoc committee to get your account validated (see the 
				"Join MusicSoc" link if you don't have the address)
			</li>
		</ul>
	</p>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), "http://rubyonrails.org" %>
<p id="railspowered">Running on Rails</p>