<div class="hero-unit">
	<h1>Users</h1>
	<div class="users-table row">
		<div class="span2 users-table-element">
			<h3>Email</h3>
		</div>
		<div class="span2 users-table-element">
			<h3>Confirmed?</h3>
		</div>
		<div class="span2 users-table-element">
			<h3>Admin?</h3>
		</div>
		<div class="span3 users-table-element">
			<h3>Options</h3>
		</div>
	</div>
	<%= render @users %>
</div>